.wm-button-normal,
.wm-button-small {
  @include _button;
  color: $white;
  background-color: $pink;
  &:hover, &:active {
    color: $white;
    text-decoration: none;
    background-color: $dark-pink;
  }
  &.wm-buton-color-green {
    background: linear-gradient(135deg, #1cbacb 0%, #0dd395 100%);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    &:hover, &:active {
      background: linear-gradient(135deg, $green 0%, $green 100%);
      background-color: $green;
    }
  }
}
.wm-button-normal {
    width: 240px;
    height: 64px;
    line-height: 64px;
    font-size: 1.4rem;
    border-radius: 64px;
}
.wm-button-small {
    width: 170px;
    height: 44px;
    line-height: 44px;
    font-size: 1.4rem;
    border-radius: 44px;
}

@media (max-width: 767px) {
}
