#wm-column-page {
  #wm-main {
    @include _initBoxSizing;
    padding-left: 280px;
    padding-top: 140px;
    padding-right: 40px;
    padding-bottom: 140px;
    .wm-section {
      @include _initBoxSizing;
      .wm-caption {
        position: relative;
        font-size: 2.0rem;
        font-weight: bold;
        line-height: 1.0;
        color: $white;
        text-align: center;
        margin-bottom: 20px;
        .wm-link {
          @include _easing;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1.0;
          color: $white;
          text-decoration: none;
          &:hover {
            color: rgba(255, 255, 255, .5);
            &::after {
              border-top: 2px solid rgba(255, 255, 255, .5);
              border-right: 2px solid rgba(255, 255, 255, .5);
            }
          }
          &::after {
            @include _easing;
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            vertical-align: middle;
            box-sizing: border-box;
            margin-top: 4px;
            border-top: 2px solid $white;
            border-right: 2px solid $white;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      .wm-search-tags-field {
        margin-left: auto;
        margin-right: 0;
        margin-bottom: 28px;
      }
    }
    .wm-column-detail-box {
      max-width: 980px;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
      background-color: $white;
      border-radius: 12px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      .wm-column-detail-header {
        @include _initBoxSizing;
        position: relative;
        .wm-keyvisual-frame {
          @include _initBoxSizing;
          background-color: rgba(0, 0, 0, .75);
          overflow: hidden;
        }
        .wm-keyvisual {
          filter: brightness(45%) blur(6px);
        }
        .wm-information {
          position: absolute;
          left: 60px;
          top: 50%;
          transform: translateY(-50%);
          padding-right: 60px;
        }
        .wm-attributes {
          @include _initBoxSizing;
          display: flex;
          align-items: center;
          margin-bottom: 16px;
        }
        .wm-column-date {
          color: rgba(255, 255, 255, .5);
          margin-right: 20px;
        }
        .wm-tags {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          box-sizing: border-box;
          .wm-tag {
            display: block;
            font-size: 1.2rem;
            line-height: 1.0;
            color: $white;
            margin-right: 12px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
        .wm-column-title {
          font-size: 3.2rem;
          font-weight: bold;
          line-height: 1.2;
          color: $white;
        }
        .wm-bookmark {
          position: absolute;
          right: 32px;
          top: 32px;
          z-index: 9;
          .wm-icon {
            @include _easing;
            display: block;
            width: 34px;
            height: 34px;
            text-decoration: none;
            box-sizing: border-box;
            border-radius: 50%;
            background-image: url(../images/20052205.svg);
            background-color: rgba(255, 255, 255, .3);
            background-repeat: no-repeat;
            background-position: center center;
            &.wm-active {
              background-color: $color-ff4160;
            }
          }
        }
        .wm-share-sns {
          position: absolute;
          right: 80px;
          bottom: -23px;
          z-index: 9;
        }
      }
      .wm-column-detail-body {
        @include _initBoxSizing;
        max-width: 828px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 80px;
        padding-bottom: 100px;
        div, p, ul, ol, table, dl, img {
          margin-bottom: 72px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          color: $color-29baf8;
          &:link, &:visited {
            text-decoration: underline;
          }
          &:hover, &:active {
            text-decoration: none;
          }
        }
        h2 {
          position: relative;
          font-size: 2.4rem;
          line-height: 1.4;
          font-weight: bold;
          box-sizing: border-box;
          margin-bottom: 40px;
          padding-bottom: 40px;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          &::before {
            position: absolute;
            left: 0;
            bottom: -2px;
            display: block;
            width: 50px;
            height: 3px;
            content: "";
            box-sizing: border-box;
            background-color: $color-00a0e4;
          }
        }
        h3 {
          position: relative;
          font-size: 2.0rem;
          line-height: 1.4;
          font-weight: bold;
          box-sizing: border-box;
          margin-bottom: 32px;
          padding-bottom: 25px;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
        h4 {
          position: relative;
          font-size: 1.6rem;
          line-height: 1.4;
          font-weight: bold;
          box-sizing: border-box;
          margin-bottom: 24px;
        }
        .wm-photo-small {
          @include _initBoxSizing;
          display: flex;
          justify-content: space-between;
          img {
            border-radius: 3px;
            margin-bottom: 0;
          }
        }
        .wm-photo-middle {
          border-radius: 3px;
        }
        .wm-photo-large {
          max-width: calc(100% + 152px);
          margin-left: -76px;
        }
      }
      .wm-column-detail-footer {
        @include _initBoxSizing;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        .wm-column-detail-footer-row {
          @include _initBoxSizing;
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 828px;
          margin-left: auto;
          margin-right: auto;
          padding-top: 40px;
          padding-bottom: 40px;
        }
        .wm-link-comments {
          position: relative;
          display: inline-block;
          color: $very-very-dark-gray;
          line-height: 1.0;
          box-sizing: border-box;
          padding-left: 32px;
          &::before,
          &::after {
            position: absolute;
            top: 50%;
            display: block;
            content: "";
            box-sizing: border-box;
          }
          &::before {
            left: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background-image: url(../images/20052903.svg);
            background-repeat: no-repeat;
            background-position: center center;
          }
          &::after {
            right: -12px;
            width: 6px;
            height: 6px;
            border-top: 2px solid $very-very-dark-gray;
            border-right: 2px solid $very-very-dark-gray;
            transform: translateY(-50%) rotate(45deg);
          }
        }
        .wm-official-message {
          @include _initBoxSizing;
          background-color: $color-f7f9fa;
          .wm-official-message-contents {
            @include _initBoxSizing;
            position: relative;
            max-width: 828px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 72px;
            padding-left: 114px;
            padding-bottom: 84px;
            &::before,
            &::after {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              display: block;
              box-sizing: border-box;
              content: "";
            }
            &::before {
              left: 0;
              width: 74px;
              height: 74px;
              border-radius: 74px;
              background: linear-gradient(135deg, $color-fd8192 0%, $color-fc7298 100%);

            }
            &::after {
              left: 19px;
              width: 36px;
              height: 36px;
              background-image: url(../images/20052904.svg);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
            }
          }
          .wm-official-message-caption {
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 1.0;
            margin-bottom: 12px;
          }
          .wm-official-message-description {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  //レスポンシブの定義
  @media (max-width: 767px) {
    #wm-main {
      padding: 90px 15px 50px;
      .wm-section {
        .wm-caption {
          font-size: 1.4rem;
          margin-bottom: 12px;
          .wm-link {
            font-size: 1.0rem;
            &::after {
              margin-top: 4px;
            }
          }
        }
        .wm-search-tags-field {
          margin-bottom: 20px;
        }
      }
      .wm-column-detail-box {
        margin-bottom: 32px;
        .wm-column-detail-header {
          .wm-keyvisual-frame {
          }
          .wm-keyvisual {
          }
          .wm-information {
            left: 24px;
            padding-right: 24px;
          }
          .wm-attributes {
            margin-bottom: 12px;
          }
          .wm-column-date {
            font-size: 1.2rem;
            margin-right: 16px;
          }
          .wm-tags {
            .wm-tag {
              font-size: 1.0rem;
              margin-right: 8px;
            }
          }
          .wm-column-title {
            font-size: 2.0rem;
          }
          .wm-bookmark {
            right: 12px;
            top: 12px;
            .wm-icon {
              width: 25px;
              height: 25px;
            }
          }
          .wm-share-sns {
            right: 12px;
            bottom: -18px;
          }
        }
        .wm-column-detail-body {
          padding: 52px 24px 64px;
          div, p, ul, ol, table, dl, img {
            margin-bottom: 36px;
          }
          h2 {
            font-size: 1.8rem;
            margin-bottom: 24px;
            padding-bottom: 24px;
          }
          h3 {
            font-size: 1.4rem;
            margin-bottom: 20px;
            padding-bottom: 24px;
          }
          h4 {
            font-size: 1.4rem;
            margin-bottom: 20px;
          }
          .wm-photo-small {
            display: block;
            text-align: center;
            img {
              margin-bottom: 16px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
          .wm-photo-middle {
          }
          .wm-photo-large {
            max-width: calc(100% + 48px);
            margin-left: -24px;
          }
        }
        .wm-column-detail-footer {
          .wm-column-detail-footer-row {
            display: block;
            text-align: center;
            padding-top: 32px;
            padding-bottom: 44px;
          }
          .wm-link-comments {
            margin-bottom: 32px;
          }
          .wm-share-sns {
            flex-wrap: wrap;
            justify-content: center;
            .wm-note {
              display: block;
              width: 100%;
              font-size: 1.2rem;
              margin-bottom: 12px;
              margin-right: 0;
            }
          }
          .wm-official-message {
            .wm-official-message-contents {
              padding: 36px 36px 56px;
              &::before,
              &::after {
                top: 0;
                transform: none;
              }
              &::before {
                left: 36px;
                top: 24px;
                width: 40px;
                height: 40px;
                border-radius: 40px;

              }
              &::after {
                left: 47px;
                top: 35px;
                width: 18px;
                height: 18px;
              }
            }
            .wm-official-message-caption {
              font-size: 1.6rem;
              margin-bottom: 36px;
              padding-left: 48px;
            }
            .wm-official-message-description {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  @media (max-width: 479px) {
  }
}
