#wm-home-page {
  #wm-main {
    @include _initBoxSizing;
    padding-left: 280px;
    padding-top: 140px;
    padding-right: 40px;
    padding-bottom: 140px;
    .wm-section {
      @include _initBoxSizing;
      .wm-caption {
        position: relative;
        font-size: 2.0rem;
        font-weight: bold;
        line-height: 1.0;
        color: $white;
        margin-bottom: 20px;
        .wm-link {
          @include _easing;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1.0;
          color: $white;
          text-decoration: none;
          &:hover {
            color: rgba(255, 255, 255, .5);
            &::after {
              border-top: 2px solid rgba(255, 255, 255, .5);
              border-right: 2px solid rgba(255, 255, 255, .5);
            }
          }
          &::after {
            @include _easing;
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            vertical-align: middle;
            box-sizing: border-box;
            margin-top: 5px;
            border-top: 2px solid $white;
            border-right: 2px solid $white;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }
    .wm-community-panels {
      @include _initBoxSizing;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      .wm-community-panel {
        position: relative;
        width: calc((100% - 60px) / 4);
        box-sizing: border-box;
        margin-top: 20px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        &:hover {
          .wm-thumbnail {
            transform: scale(1.2, 1.2);
          }
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        &:nth-of-type(-n+4) {
          margin-top: 0;
        }
        .wm-information {
          position: absolute;
          left: 35px;
          top: 50%;
          transform: translateY(-50%);
        }
        .wm-community-name,
        .wm-community-members {
          font-weight: bold;
          line-height: 1.0;
        }
        .wm-community-name {
          font-size: 1.8rem;
          color: $white;
          margin-bottom: 8px;
        }
        .wm-community-members {
          font-size: 1.0rem;
          color: rgba(255, 255, 255, .5);
        }
        .wm-icon {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 32px;
          height: 32px;
          text-decoration: none;
          box-sizing: border-box;
          border: 1px solid rgba(255, 255, 255, .35);
          border-radius: 50%;
          background: url(../images/20052120.svg) center center no-repeat;
        }
        .wm-thumbnail {
          @include _easing;
          filter: brightness(45%) blur(2px);
        }
      }
    }
  }

  //レスポンシブの定義
  @media (max-width: 767px) {
    #wm-main {
      padding: 90px 15px 50px;
      .wm-section {
        .wm-caption {
          font-size: 1.4rem;
          margin-bottom: 10px;
          .wm-link {
            font-size: 1.0rem;
            &::after {
              margin-top: 4px;
            }
          }
        }
      }
      .wm-community-panels {
        flex-wrap: nowrap;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-bottom: 0;
        padding-left: 15px;
        padding-bottom: 20px;
        //padding-left: 10px;
        overflow: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        .wm-community-panel {
          flex: 0 0 66%;
          max-width: 320px;
          //width: calc((100% - 60px) / 4);
          margin-top: 0;
          margin-right: 7px;
          &:hover {
            .wm-thumbnail {
              transform: scale(1.0, 1.0);
            }
          }
          &:nth-of-type(4n) {
            margin-right: 7px;
          }
          &:last-of-type {
            margin-right: 0;
          }
          .wm-information {
            left: 25px;
          }
          .wm-community-name {
            margin-bottom: 5px;
          }
          .wm-icon {
            right: 15px;
            width: 25px;
            height: 25px;
            background-size: 10px auto;
          }
        }
      }
    }
  }
  @media (max-width: 479px) {
  }
}
