#wm-home-page {
  background-image: url(../images/20052107.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  #wm-main {
    @include _initBoxSizing;
    padding-left: 280px;
    padding-top: 140px;
    padding-right: 40px;
    padding-bottom: 140px;
    .wm-breadcrab {
      position: fixed;
      left: 280px;
      top: 0;
      z-index: 99;
      height: 101px;
      line-height: 101px;
      color: $white;
      .wm-en {
        display: inline-block;
        font-size: 3.4rem;
      }
      .wm-ja {
        display: inline-block;
        font-size: 1.2rem;
        &::before {
          display: inline-block;
          content: "/";
          margin-left: 4px;
          margin-right: 8px;
        }
      }
    }
    .wm-wrap {
      @include _initBoxSizing;
    }
    .wm-section {
      @include _initBoxSizing;
      .wm-caption {
        position: relative;
        font-size: 2.0rem;
        font-weight: bold;
        line-height: 1.0;
        color: $white;
        margin-bottom: 20px;
        .wm-link {
          @include _easing;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: inline-block;
          font-size: 1.2rem;
          line-height: 1.0;
          color: $white;
          text-decoration: none;
          &:hover {
            color: rgba(255, 255, 255, .5);
            &::after {
              border-top: 2px solid rgba(255, 255, 255, .5);
              border-right: 2px solid rgba(255, 255, 255, .5);
            }
          }
          &::after {
            @include _easing;
            display: inline-block;
            content: "";
            width: 6px;
            height: 6px;
            vertical-align: middle;
            box-sizing: border-box;
            margin-top: 5px;
            border-top: 2px solid $white;
            border-right: 2px solid $white;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }
    .wm-community-panels {
      @include _initBoxSizing;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 40px;
      .wm-community-panel {
        position: relative;
        width: calc((100% - 60px) / 4);
        box-sizing: border-box;
        margin-top: 20px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        &:hover {
          .wm-thumbnail {
            transform: scale(1.2, 1.2);
          }
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        &:nth-of-type(-n+4) {
          margin-top: 0;
        }
        .wm-information {
          position: absolute;
          left: 35px;
          top: 50%;
          transform: translateY(-50%);
        }
        .wm-community-name,
        .wm-community-members {
          font-weight: bold;
          line-height: 1.0;
        }
        .wm-community-name {
          font-size: 1.8rem;
          color: $white;
          margin-bottom: 8px;
        }
        .wm-community-members {
          font-size: 1.0rem;
          color: rgba(255, 255, 255, .5);
        }
        .wm-icon {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          width: 32px;
          height: 32px;
          text-decoration: none;
          box-sizing: border-box;
          border: 1px solid rgba(255, 255, 255, .35);
          border-radius: 50%;
          background: url(../images/20052120.svg) center center no-repeat;
        }
        .wm-thumbnail {
          @include _easing;
          filter: brightness(45%) blur(2px);
        }
      }
    }
    .wm-column-panels {
      @include _initBoxSizing;
      display: flex;
      flex-wrap: wrap;
      .wm-column-panel {
        position: relative;
        width: calc((100% - 60px) / 4);
        box-sizing: border-box;
        margin-top: 20px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        &:hover {
          .wm-thumbnail {
            transform: scale(1.2, 1.2);
          }
        }
        &:nth-of-type(4n) {
          margin-right: 0;
        }
        &:nth-of-type(-n+4) {
          margin-top: 0;
        }
        .wm-thumbnail-mask {
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 8;
          background: linear-gradient(180deg, transparent 0%, black 80%);
          opacity: .75;
        }
        .wm-information {
          position: absolute;
          left: 30px;
          bottom: 40px;
          z-index: 9;
          padding-right: 20px;
        }
        .wm-column-date {
          font-size: 1.2rem;
          line-height: 1.0;
          color: rgba(255, 255, 255, .5);
          box-sizing: border-box;
          margin-bottom: 15px;
        }
        .wm-column-title {
          font-size: 1.8rem;
          color: $white;
          font-weight: bold;
          a {
            color: $white;
            text-decoration: none;
          }
        }
        .wm-tags {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          box-sizing: border-box;
          .wm-tag {
            display: block;
            font-size: 1.0rem;
            line-height: 1.0;
            color: $white;
            margin-right: 10px;
            margin-top: 10px;
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
        .wm-icon {
          @include _easing;
          position: absolute;
          right: 25px;
          top: 25px;
          z-index: 9;
          display: block;
          width: 34px;
          height: 34px;
          text-decoration: none;
          box-sizing: border-box;
          border-radius: 50%;
          background-image: url(../images/20052205.svg);
          background-color: rgba(255, 255, 255, .3);
          background-repeat: no-repeat;
          background-position: center center;
          &.wm-active {
            background-color: $color-ff4160;
          }
        }
        .wm-thumbnail {
          @include _easing;
        }
      }
    }
  }

  //レスポンシブの定義
  @media (max-width: 767px) {
    background-image: url(../images/20052108.jpg);
    background-attachment: fixed;
    #wm-main {
      padding: 90px 15px 50px;
      .wm-breadcrab {
        position: static;
        height: auto;
        line-height: 1.0;
        margin-bottom: 20px;
        .wm-icon {
          position: relative;
          display: inline-block;
          width: 35px;
          height: 35px;
          vertical-align: middle;
          box-sizing: border-box;
          margin-top: -8px;
          margin-right: 5px;
          border-radius: 50%;
          background: linear-gradient(135deg, #1cbacb 0%, #0dd395 100%);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.5);
          &::before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 15px;
            height: 15px;
            box-sizing: border-box;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
          }
          &.wm-icon-home {
            &::before {
              background-image: url(../images/20052109.svg);
            }
          }
        }
        .wm-en {
          font-size: 2.6rem;
        }
        .wm-ja {
          font-size: 1.0rem;
        }
      }
      .wm-section {
        .wm-caption {
          font-size: 1.4rem;
          margin-bottom: 10px;
          .wm-link {
            font-size: 1.0rem;
            &::after {
              margin-top: 4px;
            }
          }
        }
      }
      .wm-community-panels {
        flex-wrap: nowrap;
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-bottom: 0;
        padding-left: 15px;
        padding-bottom: 20px;
        //padding-left: 10px;
        overflow: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        .wm-community-panel {
          flex: 0 0 66%;
          max-width: 320px;
          //width: calc((100% - 60px) / 4);
          margin-top: 0;
          margin-right: 7px;
          &:hover {
            .wm-thumbnail {
              transform: scale(1.0, 1.0);
            }
          }
          &:nth-of-type(4n) {
            margin-right: 7px;
          }
          &:last-of-type {
            margin-right: 0;
          }
          .wm-information {
            left: 25px;
          }
          .wm-community-name {
            margin-bottom: 5px;
          }
          .wm-icon {
            right: 15px;
            width: 25px;
            height: 25px;
            background-size: 10px auto;
          }
        }
      }
      .wm-column-panels {
        display: block;
        .wm-column-panel {
          width: 100%;
          margin-top: 7px;
          margin-right: 0;
          &:hover {
            .wm-thumbnail {
              transform: scale(1.0, 1.0);
            }
          }
          &:nth-of-type(4n) {
            margin-right: 0;
          }
          &:nth-of-type(-n+4) {
            margin-top: 7px;
          }
          &:first-of-type {
            margin-top: 0;
          }
          .wm-thumbnail-mask {
          }
          .wm-information {
            left: 120px;
            top: 50%;
            bottom: inherit;
            transform: translateY(-50%);
            padding-right: 40px;
          }
          .wm-column-date {
            font-size: 1.0rem;
            margin-bottom: 10px;
          }
          .wm-column-title {
            font-size: 1.4rem;
          }
          .wm-tags {
            .wm-tag {
              font-size: 1.0rem;
              margin-right: 8px;
              margin-top: 8px;
            }
          }
          .wm-icon {
            right: 12px;
            top: 15px;
            width: 25px;
            height: 25px;
          }
          .wm-thumbnail {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 8;
            max-width: 95px;
          }
          .wm-thumbnail-large {
            filter: brightness(45%) blur(2px);
          }
        }
      }
    }
  }
  @media (max-width: 479px) {
  }
}
