#wm-mypage-page {
  #wm-main {
    @include _initBoxSizing;
    padding: 160px 40px 20px 280px;
    .wm-profile-wrap {
      @include _initBoxSizing;
    }
    .wm-profile-box {
      display: flex;
      max-width: 980px;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
      background-color: $white;
      border-radius: 12px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      .wm-profile-box-aside {
        position: relative;
        width: 200px;
        box-sizing: border-box;
        padding-top: 40px;
        background: url(../images/20052905.jpg) center top no-repeat;
      }
      .wm-profile-box-form {
        width: calc(100% - 200px);
        box-sizing: border-box;
        padding: 40px 40px 160px;
        .wm-button-normal {
          width: 300px;
          margin-left: auto;
          margin-right: auto;
        }
      }
      .wm-fields {
        @include _initBoxSizing;
        .wm-label {
          position: relative;
          display: block;
          font-size: 1.0rem;
          color: rgba(0, 0, 0, .6);
          margin-bottom: 8px;
          .wm-tips {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            line-height: 1.0;
          }
        }
        .wm-field {
          @include _initBoxSizing;
          position: relative;
          margin-bottom: 16px;
          &:last-of-type {
            margin-bottom: 40px;
          }
          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="password"],
          select,
          textarea {
            width: 100%;
            padding-left: 12px;
            background-color: $color-f0edf7;
          }
          select {
            background-image: url(../images/20052906.svg);
            background-position: right 20px center;
          }
          &.wm-gender {
            .wm-label {
              display: inline-block;
              font-size: 1.4rem;
              color: $very-very-dark-gray;
              margin-right: 32px;
              &:last-of-type {
                margin-right: 0;
              }
            }
          }
          &.wm-select-birth-date {
            display: flex;
            justify-content: space-between;
            select {
              width: 180px;
              &:first-of-type {
                width: calc(100% - (20px + 360px));
              }
            }
          }
        }
        .wm-field-row {
          @include _initBoxSizing;
          display: flex;
          justify-content: space-between;
          .wm-field-col {
            width: calc((100% - 12px) / 2);
          }
        }
      }
      .wm-user-attributes {
        @include _initBoxSizing;
        text-align: center;
        margin-bottom: 36px;
        .wm-avatar {
          max-width: 76px;
          margin-bottom: 20px;
          border-radius: 50%;
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
        }
        .wm-username,
        .wm-userid {
          @include _easing;
          line-height: 1.0;
          a {
            @include _easing;
            text-decoration: none;
          }
        }
        .wm-username {
          font-weight: bold;
          color: $white;
          margin-bottom: 5px;
          a {
            color: $white;
          }
        }
        .wm-userid {
          font-size: 1.2rem;
          color: rgba(255, 255, 255, .7);
          a {
            color: rgba(255, 255, 255, .7);
          }
        }
      }
      .wm-items {
        @include _initBoxSizing;
        padding-left: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid rgba(0, 0, 0, .1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        .wm-item {
          position: relative;
          display: block;
          width: 180px;
          height: 55px;
          line-height: 53px;
          font-size: 1.2rem;
          color: $white;
          text-decoration: none;
          font-weight: bold;
          box-sizing: border-box;
          margin-bottom: 10px;
          padding-left: 48px;
          border: 1px solid rgba(255, 255, 255, .1);
          border-radius: 4px;
          &:last-of-type {
            margin-bottom: 0;
          }
          .wm-icon {
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 16px;
            height: 16px;
            content: "";
            box-sizing: border-box;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            &.wm-icon-account {
              background-image: url(../images/20052908.svg);
            }
            &.wm-icon-password {
              background-image: url(../images/20052909.svg);
            }
            &.wm-icon-signout {
              background-image: url(../images/20052910.svg);
            }
          }
          &.wm-active {
            width: 200px;
            color: $perpul;
            border: none;
            background-color: $white;
            .wm-icon {
              &.wm-icon-account {
                background-image: url(../images/20052911.svg);
              }
              &.wm-icon-password {
                background-image: url(../images/20052912.svg);
              }
              &.wm-icon-signout {
                background-image: url(../images/20052913.svg);
              }
            }
          }
        }
      }
      .wm-links {
        @include _initBoxSizing;
        padding-top: 40px;
        padding-left: 40px;
        .wm-link {
          display: block;
          font-size: 1.0rem;
          line-height: 1.0;
          color: rgba(255, 255, 255, .5);
          box-sizing: border-box;
          margin-bottom: 16px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  //レスポンシブの定義
  @media (max-width: 767px) {
    #wm-main {
      @include _initBoxSizing;
      padding: 90px 15px 50px;
      .wm-profile-wrap {
        position: relative;
        padding-bottom: 40px;
      }
      .wm-profile-box {
        display: block;
        .wm-profile-box-aside {
          position: static;
          width: 100%;
          padding-top: 0;
          background: none;
          background: linear-gradient(135deg, $color-8773ed 0%, $color-9a3be1 100%);
        }
        .wm-profile-box-form {
          width: 100%;
          padding: 20px 32px 40px;
          .wm-button-normal {
            width: 100%;
          }
        }
        .wm-fields {
          .wm-label {
            .wm-tips {
            }
          }
          .wm-field {
            &:last-of-type {
              margin-bottom: 32px;
            }
            input[type="text"],
            input[type="email"],
            input[type="tel"],
            input[type="password"],
            select,
            textarea {
              padding-left: 20px;
            }
            select {
              background-position: right 8px center;
            }
            &.wm-gender {
              .wm-label {
                margin-right: 16px;
              }
            }
            &.wm-select-birth-date {
              select {
                width: 80px;
                &:first-of-type {
                  width: calc(100% - (20px + 160px));
                }
              }
            }
          }
          .wm-field-row {
            display: block;
            .wm-field-col {
              width: 100%;
              margin-bottom: 8px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
          }
        }
        .wm-user-attributes {
          @include _initBoxSizing;
          text-align: center;
          margin-bottom: 36px;
          .wm-avatar {
            max-width: 76px;
            margin-bottom: 20px;
            border-radius: 50%;
            box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
          }
          .wm-username,
          .wm-userid {
            @include _easing;
            line-height: 1.0;
            a {
              @include _easing;
              text-decoration: none;
            }
          }
          .wm-username {
            font-weight: bold;
            color: $white;
            margin-bottom: 5px;
            a {
              color: $white;
            }
          }
          .wm-userid {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, .7);
            a {
              color: rgba(255, 255, 255, .7);
            }
          }
        }
        .wm-items {
          display: flex;
          padding-left: 0;
          padding-top: 0;
          padding-bottom: 0;
          border: none;
          .wm-item {
            width: 50%;
            height: 65px;
            line-height: 65px;
            text-align: center;
            margin-bottom: 0;
            padding-left: 0;
            border: none;
            border-radius: 0;
            &:first-of-type {
              border-right: 1px solid rgba(255, 255, 255, 0.1);
            }
            &:last-of-type {
              position: absolute;
              right: 8px;
              bottom: 2px;
              display: inline-block;
              width: auto;
              height: auto;
              font-size: 1.4rem;
              line-height: 1.0;
              border: none;
              border-radius: 0;
              margin-bottom: 0;
              padding-left: 48px;
            }
            .wm-icon {
              position: static;
              transform: none;
              display: inline-block;
              vertical-align: middle;
              margin-top: -4px;
            }
            &.wm-active {
              width: 50%;
              color: $perpul;
              background-color: transparent;
              .wm-ja {
                position: relative;
                display: inline-block;
                width: 88%;
                height: 44px;
                line-height: 44px;
                background-color: $white;
                border-radius: 4px;
                &::after {
                  position: absolute;
                  left: 50%;
                  bottom: -5px;
                  transform: translateX(-50%);
                  display: block;
                  width: 0;
                  height: 0;
                  content: "";
                  box-sizing: border-box;
                  border-style: solid;
                  border-width: 5px 4px 0 4px;
                  border-color: $white transparent transparent transparent;
                }
              }
            }
          }
        }
        .wm-links {
          position: absolute;
          left: 10px;
          bottom: 0;
          display: inline-block;
          width: auto;
          padding-top: 0;
          padding-left: 0;
          .wm-link {
            display: inline-block;
            color: $white;
            margin-right: 12px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  @media (max-width: 479px) {
  }
}
