//ウェルカムページのヘッダー
#wm-welcome-page {
  #wm-header {
    @include _initBoxSizing;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    .wm-wrap {
      @include _centering;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1400px;
      padding-top: 60px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .wm-logo {
      display: block;
      max-width: 140px;
    }
    .wm-nav {
      display: flex;
      align-items: center;
      .wm-link {
        @include _easing;
        display: block;
        line-height: 1.0;
        color: $white;
        box-sizing: border-box;
        margin-left: 30px;
        &:first-of-type {
          margin-left: 0;
          &::before {
            display: none;
          }
        }
        &::before {
          display: inline-block;
          content: "|";
          line-height: 1.0;
          box-sizing: border-box;
          margin-right: 30px;
          color: rgba(255, 255, 255, .35);
        }
        &:hover {
          color: $dark-pink;
          text-decoration: none;
        }
      }
      .wm-button-small {
        margin-left: 60px;
        box-shadow: 0px 11px 10px 0px rgba(255, 71, 122, 0.25);
      }
    }

    //レスポンシブの定義
    @media (max-width: 767px) {
      .wm-wrap {
        align-items: stretch;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .wm-logo {
        max-width: 120px;
        padding-top: 15px;
      }
      .wm-nav {
        flex-wrap: wrap-reverse;
        justify-content: center;
        max-width: 170px;
        .wm-link {
          margin-left: 15px;
          &::before {
            margin-right: 15px;
          }
        }
        .wm-button-small {
          margin-left: 0;
          margin-bottom: 10px;
        }
      }
    }
    @media (max-width: 479px) {
    }
  }
}
//ページ共通のヘッダー
.wm-common-page {
  #wm-header {
    @include _initBoxSizing;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-image: url(../images/20052107.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    .wm-contents {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
    }
    .wm-logo {
      width: 240px;
      height: 100px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 34px;
      background-color: rgba(0, 0, 0, .6);
      img {
        max-width: 140px;
      }
    }
    .wm-bar {
    }
    .wm-items {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-right: 40px;
      .wm-avatar {
        max-width: 40px;
        border-radius: 50%;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
      }
      .wm-username,
      .wm-edit {
        @include _easing;
        font-size: 1.0rem;
        color: $white;
        line-height: 1.0;
        margin-left: 15px;
        a {
          @include _easing;
          color: $white;
          text-decoration: none;
        }
        &:hover {
          a {
            color: rgba(255, 255, 255, .5);
          }
        }
      }
      .wm-username {
        font-weight: bold;
        margin-bottom: 5px;
      }
      .wm-edit {
        .wm-icon {
          vertical-align: bottom;
          margin-left: 5px;
        }
        a {
          color: rgba(255, 255, 255, .7);
        }
      }
      .wm-badge {
        @include _easing;
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        margin-left: 40px;
        background-color: rgba(0, 0, 0, .25);
        border-radius: 12px;
        &:hover {
          background-color: rgba(0, 0, 0, .45);
        }
        .wm-icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        .wm-light {
          position: absolute;
          right: 10px;
          top: 12px;
          display: block;
          width: 10px;
          height: 10px;
          content: "";
          background-color: $color-ff4160;
          border-radius: 50%;
        }
      }
    }
    &::after {
      position: fixed;
      left: 0;
      top: 100px;
      z-index: 99;
      width: 100%;
      height: 1px;
      content: "";
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, .1);
      overflow: hidden;
    }
  }

  //レスポンシブの定義
  @media (max-width: 767px) {
    #wm-header {
      background-image: url(../images/20052108.jpg);
      background-attachment: fixed;
      .wm-contents {
        padding-left: 15px;
        padding-right: 15px;
        height: 70px;
      }
      .wm-logo {
        width: auto;
        height: auto;
        text-align: left;
        padding-top: 0;
        background-color: transparent;
        img {
          max-width: 107px;
        }
      }
      .wm-items {
        padding-right: 0;
        .wm-badge {
          width: 40px;
          height: 40px;
          margin-left: 0;
          .wm-icon {
          }
          .wm-light {
            right: 7px;
            top: 10px;
            width: 9px;
            height: 9px;
          }
        }
        .wm-menu-button {
          position: relative;
          display: block;
          width: 23px;
          height: 18px;
          box-sizing: border-box;
          margin-left: 20px;
          border: none;
          background: transparent;
          .wm-menu-line {
            @include _easing;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 3px;
            background-color: $white;
            border-radius: 5px;
            overflow: hidden;
            &:nth-of-type(1) {
              top: 0;
              width: calc(100% - 4px);
            }
            &:nth-of-type(2) {
              top: 50%;
              transform: translate(-50%, -50%);
            }
            &:nth-of-type(3) {
              bottom: 0;
              width: calc(100% - 4px);
            }
          }
          &.wm-active {
            .wm-menu-line {
              &:nth-of-type(1) {
                width: 100%;
                transform: translate(-12px, 8px) rotate(-45deg);
              }
              &:nth-of-type(2) {
                display: none;
              }
              &:nth-of-type(3) {
                width: 100%;
                transform: translate(-12px, -7px) rotate(45deg);
              }
            }
          }
        }
      }
      &::after {
        top: 70px;
      }
    }
    #wm-container {
      &.wm-menu-active {
        #wm-header {
          z-index: 999;
          background: transparent;
          .wm-items {
            .wm-badge {
              display: none;
            }
          }
        }
      }
    }
  }
  @media (max-width: 479px) {
  }
}
