//主カラー
$white: #fff;
$black: #000;
$very-very-light-gray: #f9f8f7;
$very-light-gray: #dbdbdb;
$very-very-dark-gray: #54575a;
$pink: #fd8392;
$dark-pink: #e25e74;
$light-green: #12cba6;
$green: #0fb291;

//サブカラー（グレー）
$color-ece8e9: #ece8e9;
$color-ddddde: #ddddde;
$color-f7f9fa: #f7f9fa;
//サブカラー（ピンク）
$color-f394a2: #f394a2;
$color-fffbfc: #fffbfc;
$color-ff4160: #ff4160;
$color-2d373d: #2d373d;
//サブカラー（グリーン）
$color-0dd395: #0dd395;
$color-1cbacb: #1cbacb;
//サブカラー（ブルー）
$color-00c9ec: #00c9ec;
$color-008ae0: #008ae0;

//SNSカラー
$color-facebook: #496eba;
$color-facebook-hover: #29568a;

//汎用的なカラー配列
$colors: (
  white: $white,
  black: $black,
  very-very-light-gray: $very-very-light-gray,
  very-light-gray: $very-very-light-gray,
  very-very-dark-gray: $very-very-dark-gray,
  pink: $pink,
  dark-pink: $dark-pink,
  light-green: $light-green,
  green: $green,
  color-f394a2: $color-f394a2,
  color-fffbfc: $color-fffbfc,
  color-ece8e9: $color-ece8e9,
  color-ddddde: $color-ddddde,
  color-f7f9fa: $color-f7f9fa,
  color-facebook: $color-facebook,
  color-facebook-hover: $color-facebook-hover,
  color-2d373d: $color-2d373d,
  color-0dd395: $color-0dd395,
  color-1cbacb: $color-1cbacb,
) !default;
