//主カラー
$white: #fff;
$black: #000;
$very-very-light-gray: #f9f8f7;
$very-light-gray: #dbdbdb;
$very-very-dark-gray: #54575a;
$pink: #fd8392;
$dark-pink: #e25e74;

//サブカラー（グレー）
$color-ece8e9: #ece8e9;
$color-ddddde: #ddddde;
//サブカラー（ピンク）
$color-f394a2: #f394a2;
$color-fffbfc: #fffbfc;

//汎用的なカラー配列
$colors: (
  white: $white,
  black: $black,
  very-very-light-gray: $very-very-light-gray,
  very-light-gray: $very-very-light-gray,
  very-very-dark-gray: $very-very-dark-gray,
  pink: $pink,
  dark-pink: $dark-pink,
  color-f394a2: $color-f394a2,
  color-fffbfc: $color-fffbfc,
  color-ece8e9: $color-ece8e9,
  color-ddddde: $color-ddddde,
) !default;
